page-rooms {
    .img{
        background-image: url('../../assets/imgs/do.png');
        background-repeat: no-repeat;
        background-size: 2000px;
  }
  .list{
    background:white;
}
h1{
    text-align: center;
}
}
